###### Variables

In [2]:
a  = 100 # lets says we assign value 100 to a so "a" is a variable

In [3]:
a

100

In [4]:
type(a) # we can check the type by using type()

int

In [5]:
a = 0.5343  # we can also assign float number to a variable

In [5]:
a

0.5343

#### Strings

In [8]:
a = "khan" #any thing with in ""  will be known as a string which represent as str also

In [7]:
a

'khan'

In [12]:
user_name = "Muhammad Khan"

In [13]:
print(user_name)

Muhammad Khan

In [9]:
type(a) #checking type of variable

str

In [10]:
print("my name is khan") #print() is a builtin function which shows us output

my name is khan

#### Arithmetic operations

In [11]:
a = 23

In [12]:
b = 33

In [14]:
print(a*b)

759

In [15]:
print(a/b)

0.696969696969697

In [17]:
c = 1 + 1

In [18]:
print(c)

2

In [19]:
d = str(1) + "khan"

In [20]:
print(d)

1khan

In [22]:
print("what is your age my age is 24")

what is your age my age is 24

In [23]:
h = 3468736587436875

In [24]:
z = 3445345

In [25]:
print(h*z)

11950994257842700096875

In [14]:
dfs = 4

In [31]:
print(a343)

4

#### special names of Variables

In [17]:
my_name  = 34343

In [18]:
print(my_name)

34343

In [20]:
# we can not write intr at start of varial name. (12my_name. = 34343. because python will not execute) 
#Only textual or alphabetical or "few "special characters can be write as varial name in beginning forexample

In [21]:
&alex6 = 6

SyntaxError: invalid syntax (122203954.py, line 1)

In [23]:
alex6 = 6

In [24]:
# So "&" is a special character which can not be use but u can use others like "_"

In [25]:
_alex = 6

In [26]:
print(_alex)

6